/* navigation bar */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 0.9rem;
    padding: 0px 10px;
}
/* home section */
#home{
    height: 340px;
    padding: 0px 12px;
}
#home::before{
    height: 450px;
}
#home p{
    font-size: 1rem;
}

/* serviices section */
#services{
    flex-direction: column;
}
#services .box img{
    height: 100px;
}
/* client section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    height: 100px;
}
/* utility classes */
.h-primary{
    font-size: 1.8rem;
}
.h-secondary{
    font-size: 1.4rem;
}
#home .btn{
    font-size: 1rem;
    padding: 3px 15px;
}